########################################################################
# 開発環境用自動スタック削除
# コスト節約のためスケジュール設定で起動
########################################################################

name: dev-destroy-action
run-name: ${{ github.workflow }} workflow
on:
  schedule:
    - cron:  '00 4,14 * * *'
  workflow_dispatch:
    inputs:
      stack:
        type: choice
        description: target stack
        default: dev/*
        options:
          - dev/*
# 全パーミッションの無効化
permissions: {}
# デフォルトシェルでパイプエラーを有効化
defaults:
  run:
    shell: bash
# ワークフローが複数起動したら自動キャンセル
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  destroy:
    runs-on: ubuntu-latest
    timeout-minutes: 25
    environment:
      name: dev
    permissions:
      id-token: write
      contents: read
    steps:
      # Bashトレーシングオプション
      - run: set -x

      # 前提情報の出力
      - run: cat $GITHUB_EVENT_PATH
      - run: lsb_release -d
      - run: gh --version
      - run: aws --version

      - uses: actions/checkout@v4

      - uses: aws-actions/configure-aws-credentials@v5
        with:
          role-to-assume: ${{ secrets.ROLE_TO_ASSUME }}
          aws-region: ap-northeast-1
      - run: aws sts get-caller-identity

      - name: setup node
        uses: ./.github/workflows/setup-node

      - name: set env variables
        env:
          ENV_NAME: ${{ vars.ENV_NAME }}
        run: |
          echo "ENV_NAME=${{ env.ENV_NAME }}"
          echo "ENV_NAME=${{ env.ENV_NAME }}" >> $GITHUB_ENV
          echo "DEV_ACCOUNT_ID=${{ secrets.DEV_ACCOUNT_ID }}" >> $GITHUB_ENV
          echo "PROD_ACCOUNT_ID=${{ secrets.PROD_ACCOUNT_ID }}" >> $GITHUB_ENV

      - run: npx cdk destroy -f "${{ env.STACK_NAME || 'dev/data-str-sample*' }}"
        env:
          STACK_NAME: ${{ github.event.inputs.stack }}
